* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(../img/pattern.png);
    background-color: lightblue;
    background-size: 500px;
}

header img {
    height: 80px;
}

.grey-text {
    color: rgb(128, 128, 128);
}

.blue-text {
    color: rgb(0, 98, 255);
}

.yellow {
    background-color: goldenrod;
}

ul {
    margin: 20px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

th {
    background-color: rgb(11, 101, 226);
    color: rgb(252, 252, 252);
    
}

/* tr {
    background-color: aqua;
} */

.table-color {
    background-color: rgb(141, 237, 237);
}

td {
    padding: 20px
}

.prima {
    text-align: center;
}


.final-grey {
    color: rgb(128, 128, 128);
    font-weight: 700;
    font-size: 15px;
}

.finalphoto1 {
    background-image: url(../img/monitor.jpg);
    width: 280px;
    height: 200px;
    color: white;
    font-weight: 600;
    background-size: 60%;
    background-repeat: no-repeat;
}

.finalphoto2 {
    background-image: url(../img/graph.jpg);
    width: 280px;
    height: 200px;
    color: white;
    font-weight: 600;
    background-size: 60%;
    background-repeat: no-repeat;
    margin-top: -80px;
}

.x {
    padding: 0 180px
}


