* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(../img/pattern.png);
    background-color: lightblue;
    background-size: 500px;
}

header img {
    height: 80px;
}

.grey-text {
    color: rgb(128, 128, 128);
}

.blue-text {
    color: rgb(0, 98, 255);
}

.yellow {
    background-color: goldenrod;
}

ul {
    margin: 20px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

th {
    background-color: rgb(11, 101, 226);
    color: rgb(252, 252, 252);
}

tr {
    background-color: aqua;
}

.final-grey {
    color: rgb(128, 128, 128);
    font-weight: 700;
    font-size: 20px;
}

.container {
    position: relative;
    width: 50%;
}

.image {
    width: 100%;
    height: auto;
}

.text {
    position: absolute;
    text-align: left;
    color: rgb(7, 4, 4);
    font-size: 25px;
    padding: 10px;
}

